.background-dark {
    background: #e9ecef;
}

.background-normal {
    background: white;
}

.image-post {
    width: 100%;
}

.padd {
    padding: 4rem 2rem;
}

.pad2 {
    padding: 3rem 2rem;
}

.height246 {
    height: 200px;
}

.post-title {
    padding-top: 12px;
    font-weight: bold;
}

.service-p {
    line-height: 30px;
    text-align: justify;
}

.navitem {
    margin-bottom: -15px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: #e9ecef;
    color: black;
}

.nav-item a {
    color: #080c12;
}

.airline {
    border-radius: 20px;
}

#footer {
    margin-bottom: 0px;
    background: #444;
    color: #fff;
}

.contact-info {
    padding: 20px;
}

#footer li {
    float: none;
    list-style: square;
    margin-bottom: 1em;
}

#footer li a {
    color: #f0f0f0;
    font-size: 12px;
}

.navbt {
    background: #323131;
    padding: 30px;
    padding-right: 8%;
}

.menu {
    padding-right: 0px;
}

.bg-primary {
    background-color: #f5f6f7 !important;
    border-bottom: 2px solid #d1d4d7;
}

.custom-logo-link img {
    width: 200px;
    height: 65px;
}

.topbar {
    ackground: #00796b;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
}

.top-menu {
    margin-top: 20px;
    background-color: #323131;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu ul li {
    float: right;
}

.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu ul li a:hover:not(.active) {
    background-color: #111;

}

.menu ul li a.active {
    float: right;
}

.post img {
    border-radius: 20px !important;
    border: 1px solid #ccc;
    width: 96%
}

.navbar-nav {
    color: white;
    display: block;
}


#menu-main {
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    display: block;
}
#menu-main li{
    float: right;
    padding-right: 1.5rem;
    color: white;
}
#menu-main li a{
    color: #fff;
}